#transicion .bounce-enter-active {
  animation: bounce-in .5s; }

#transicion .bounce-leave-active {
  animation: bounce-in .5s reverse; }

@keyframes bounce-in {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

body {
  padding-left: 1.5%;
  padding-right: 1.5%; }

#home {
  display: flex;
  justify-content: center; }
